@model TechStoreEll.Api.Entities.Warehouse

@{
    ViewData["Title"] = "Склад";
}

<h2>Склад "@Model.Name"</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Название</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        
        <dt class="col-sm-3">Создан</dt>
        <dd class="col-sm-9">@Model.CreatedAt.ToString("g")</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Изменить</a>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>